{% extends 'index.html' %}
{% load static %}
{% block title %}会议纪要查看{% endblock %}

{% block css %}

{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            会议纪要查看
            <small>conference edit</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 会议纪要查看</a></li>
            <li>会议纪要查看</li>
            <li class="active">会议纪要查看</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

          <p>
            We could not find the page you were looking for.
            Meanwhile, you may <a href="/confer_manage/dashboard/">return to dashboard</a>
          </p>
        </div>
    </div>

        <!-- /.row -->
    </section>
    <!-- /.content -->


{% endblock %}
