<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="ulid21" >
      问卷选项设置:
</div>

<input type="button" value="增加答案选项" onclick="insert()" />

<script type="text/javascript">
            function insert() {
            var li13 = document.getElementById("li13");
            alert(li13)
            //创建li
            var li15 = document.createElement("li");
            //创建文本
            var text15 =document.createElement('input');
            text15.setAttribute('type', 'text');//输入框的类型
            text15.setAttribute('name', "answers");//输入框的名字
            text15.setAttribute('id', "b");//输入框的id
            //把文本添加到li下面 appendChild
            li15.appendChild(text15);
            //获取到ul
            var ul21 = document.getElementById("ulid21");

            //insertBefore(newNode,oldNode)
            ul21.insertBefore(text15,li13);
            }
        </script>
</body>
</html>