{% extends 'index1.html' %}
{% load static %}
{% block title %}个人主页{% endblock %}

{% block css %}
    <style>
        .file-box {
            display: inline-block;
            position: relative;
            padding: 8px 15px;
            overflow: hidden;
            color: #fff;
            background-color: #536987;
            cursor: pointer;
        }

        .file-btn {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            outline: none;
            background-color: transparent;
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            个人主页
            <small>Profile</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-user"></i> 主页</a></li>
            <li class="active">个人主页</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">

                        <img class="profile-user-img img-responsive img-circle"
                             src="{{ request.session.avatar }}" alt="User profile picture">

                        <h3 class="profile-username text-center">{{ name }}</h3>

                        <p class="text-muted text-center">{{ apartment }}</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>完成会议数</b> <a class="pull-right">22</a>
                            </li>
                            <li class="list-group-item">
                                <b>待参加会议数</b> <a class="pull-right">3</a>
                            </li>
                            <li class="list-group-item">
                                <b>待处理罚款</b> <a class="pull-right">87</a>
                            </li>
                            <hr>
                            <li class="list-group-item">
                                <b>分享文章数</b> <a class="pull-right">8</a>
                            </li>
                            <li class="list-group-item">
                                <b>发表评论数</b> <a class="pull-right">7</a>
                            </li>
                        </ul>

                        <a href="/confer_manage/upload/" class="btn btn-primary btn-block"><b>保留位置，作用待定</b></a>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <!-- About Me Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">About Me</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <strong><i class="fa fa-mail-forward margin-r-5"></i> Email</strong>

                        <p class="text-muted">
                            {{ email }}
                        </p>

                        <hr>

                        <strong><i class="fa fa-phone margin-r-5"></i> Phone</strong>

                        <p class="text-muted">123-4567-8901</p>

                        <hr>

                        <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

                        <p>
                            <span class="label label-danger">Analysis</span>
                            <span class="label label-success">Python</span>
                            <span class="label label-info">Javascript</span>
                            <span class="label label-warning">SAS</span>
                            <span class="label label-primary">Java</span>
                        </p>

                        <hr>

                        <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        {#              <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>#}
                        <li class="active"><a href="#timeline" data-toggle="tab">Timeline</a></li>
                        <li><a href="#settings" data-toggle="tab">Settings</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- /.tab-pane -->
                        <div class="active tab-pane" id="timeline">
                            <!-- The timeline -->
                            <ul class="timeline timeline-inverse">
                                <!-- timeline time label -->
                                <li class="time-label">
                        <span class="bg-red">
                          10 Feb. 2019
                        </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-envelope bg-blue"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                                        <h3 class="timeline-header"><a href="#">Support System</a> 给你发了一封邮件</h3>

                                        <div class="timeline-body">
                                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                            quora plaxo ideeli hulu weebly balihoo...
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-primary btn-xs">Read more</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-book bg-aqua"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                                        <h3 class="timeline-header no-border"><a href="#">李四</a> 发表了一篇博客
                                        </h3>
                                        <div class="timeline-body">
                                            啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊，
                                            哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦，哈哈哈哈哈哈哈哈哈哈，
                                            或或或或或或或或或或或或或或或或...
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-primary btn-xs">Read more</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-comments bg-yellow"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                                        <h3 class="timeline-header"><a href="#">张三</a> 评论了你的博客
                                        </h3>

                                        <div class="timeline-body">
                                            啊啊啊啊啊啊啊啊啊啊啊，太辣鸡啦。。。。。。。。。。。。。
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline time label -->
                                <li class="time-label">
                        <span class="bg-green">
                          3 Jan. 2019
                        </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-camera bg-purple"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                                        <h3 class="timeline-header"><a href="#">王五</a> 上传了一些资料</h3>

                                        <div class="timeline-body">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- /.tab-pane -->

                        <div class="tab-pane" id="settings">
                            <a name="modifyinfo"></a>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                                    <div class="col-sm-10">
                                        {{ user_form.username }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                    <div class="col-sm-10">
                                        {{ user_form.email }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label">password</label>

                                    <div class="col-sm-10">
                                        {{ user_form.password1 }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label">confirm psw</label>

                                    <div class="col-sm-10">
                                        {{ user_form.password2 }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEApartment" class="col-sm-2 control-label">Apartment</label>

                                    <div class="col-sm-10">
                                        {{ user_form.apartment }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputRole" class="col-sm-2 control-label">Role</label>

                                    <div class="col-sm-10">
                                        {{ user_form.role }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <div>
                                {#                                 {% csrf_token %}#}
                                <!----用一个label标签将上传文件输入框跟图片绑定一起，
									  点击图片的时候就相当于点击了上传文件的按钮---->
                                <h5><b>修改个人头像</b></h5>
                                <img class="profile-user-img img-responsive img-circle" id="avatar-img"
                                     src="{{ request.session.avatar }}" alt="User profile picture"
                                     style="margin-left: 18.67%">
                                <br>
                                <div>
                                    <div class="file-box" style="margin-left: 16.67%">上传图片
                                        <input id="avatar-input" type="file" class="file-btn">
                                    </div>
                                    <button class="file-box" id="submitpic"
                                            style="vertical-align:top;border: none">提交图片
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->

    <script src="{% static 'adminlet-2.4.10/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <script>
        {#alert("{{ request.session.avatar }}");#}

        // 上传文件按钮（label里的图片）点击事件
        $('#avatar-input').on('change', function () {
            // 获取用户最后一次选择的图片
            var choose_file = $(this)[0].files[0];
            // 创建一个新的FileReader对象，用来读取文件信息
            var reader = new FileReader();
            // 读取用户上传的图片的路径
            reader.readAsDataURL(choose_file);
            // 读取完毕之后，将图片的src属性修改成用户上传的图片的本地路径
            reader.onload = function () {
                $("#avatar-img").attr("src", reader.result)
            };

        });

        $('#submitpic').click(function () {
            var formdata = new FormData();
            formdata.append("avatar", $("#avatar-input")[0].files[0]);
            {#formdata.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());#}
            $.ajax({
                cache: false, //上传文件不需要缓存
                processData: false,// 告诉jQuery不要去处理发送的数据
                contentType: false,// 告诉jQuery不要去设置Content-Type请求头
                url: '/confer_manage/upload/',
                type: 'post',
                data: formdata,
                dataType: "JSON",
                success: function (arg) {
                    console.log("----------------", arg);
                    if (arg["status"] == "成功") {
                        alert(arg['status']);

                    } else {
                        alert(arg['status'])
                    }
                }
            })

        });

    </script>
{% endblock %}
